html,
body {
  margin: 0;
  padding: 0;
  overflow: none;
  width: 100%;
  height: 200vh;
  --scroll: 0;
  background: #222233;
  overscroll-behavior: contain;
}

body {
  overflow-y: scroll;
}

.aos-scene {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aos-img {
  position: absolute;
}

.aos-moon {
  transform: translateY(calc(10rem * var(--scroll)));
  opacity: calc(1 - var(--scroll));
  animation: anim_rotate_moon 3s ease-in-out infinite;
  animation-direction: alternate;
}

.aos-sun {
  transform: translateY(calc(10rem * (1 - var(--scroll)))) scale(var(--scroll));
  opacity: calc(var(--scroll));
}

.aos-stars {
  opacity: calc(1 - var(--scroll));
}

.aos-clouds {
  opacity: var(--scroll);
  animation: anim_move_clouds 5s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes anim_move_clouds {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(20px);
  }
}

.aos-night {
  border-radius: 4px;
  filter: invert(calc(var(--scroll))) hue-rotate(calc(220deg * var(--scroll)));
  box-shadow: 0 0 10px 0 #333344;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #303040;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303040;
}